In [5]:
import numpy as np
import pandas as pd

In [3]:
vals = np.random.randint(0,20, (4,3))
vals

array([[18, 10,  3],
       [11,  6,  8],
       [17, 19,  9],
       [ 6, 16,  5]])

In [6]:
df = pd.DataFrame(np.hstack([vals, vals]), columns=['Time', 'H1', 'N2', 'Time Relative', 'N2', 'Time'] )
df

   Time  H1  N2  Time Relative  N2  Time
0    18  10   3             18  10     3
1    11   6   8             11   6     8
2    17  19   9             17  19     9
3     6  16   5              6  16     5

In [8]:
df = df.loc[:,~df.columns.duplicated()]
df

   Time  H1  N2  Time Relative
0    18  10   3             18
1    11   6   8             11
2    17  19   9             17
3     6  16   5              6